{% extends "admin/base_site.html" %}

{% block extrahead %}{{ block.super }}
{{ form.media }}
{% endblock %}

{% load custom_tags %}

{% block content %}
<div id="content-main">

    {% if form.errors %}
        <p class="errornote">
        Please correct the error(s) below.
        </p>
        {{ form.non_field_errors }}
    {% endif %}

    <form method="post" id="{{ opts.model_name }}_form" novalidate>
        {% csrf_token %}

        <table style="margin-bottom: 30px">
            <tr style="background-color: #eee">
                <th rowspan="2">Users</th>
                <th colspan="{{ role_to_users.keys|length }}" style="text-align: center">Roles</th>
                <th rowspan="2">Resulting permissions on this {{ opts.model_name }}</th>
            </tr>
            <tr style="background-color: #eee">
                {% for role in role_to_users.keys %}
                <th>{{ role }}</th>
                {% endfor %}
            </tr>

            {% for user in users_to_perms.keys %}
                <tr>
                    <td>
                        {{ user }} ({{ user.email }})
                    </td>
                    {% for role, role_users in role_to_users.items %}
                        <td style="border-left: 1px solid #eee; text-align: center">
                        {% with user_id=user.pk|stringformat:"s" %}
                            {% if user_id in role_users %}
                                ✔️
                            {% endif %}
                        {% endwith %}
                        </td>
                    {% endfor %}
                    <td>
                        {{ users_to_perms|get_item:user|join:", " }}  <!-- Display user permissions with line breaks -->
                    </td>
                </tr>
            {% endfor %}
        </table>

        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row" style="padding: 10px 0;">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
        </fieldset>

        <input type="submit" value="Submit" name="_submit">
    </form>

</div>

{% endblock %}
